<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebSocket</title>
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js"></script>
</head>
<body>
    <script> 
        
        const socket = io(); 
        // далее используем socket
        socket.on('message', (message) => {

            document.getElementById("temp").innerHTML = "temp = " + message.temp;
        });
     </script>
<h1>This is webSocket client</h1>
<h1>Температура = <p id="temp"></p></h1>
</body>
</html>